.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 100%;
    padding-top: 30px;
    background-image: linear-gradient(to right, #f15632 , #fbd254);
  }

  .headline {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-size: 106px;
    letter-spacing: -0.05em;
    line-height: 95px;
  }

  .subline {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    box-sizing: inherit;

}
  
  button{
      width: 380px;
      height: 50px;
      border-radius: 60px;
      background-color: #0e0e0e;
      color: white;
      font-size: 25px;
      border: none;
      cursor: pointer;
  }
