nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    nav li {
      float: left;
    }
    
    nav li a {
      display: block;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    nav li.dropdown {
      display: inline-block;
    }
    
    nav .dropbtn {
      font-size: 0.8rem;
    background: #f774c5;
    border: none;
    padding: 0.8rem 1.1rem;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 13px 24px -7px #ecb6d7;
    transition: all 0.3s ease-in-out;
    margin-left: 0.5rem;
    cursor: pointer;
    }
    nav .dropbtn:hover {
      box-shadow: 0px 17px 16px -11px #ecb6d7;
      transform: translateY(-3px);
    }
    
    nav li.dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      z-index: 1;
    }
    
    nav li.dropdown:hover .dropdown-content {
      display: block;
    }
    
    nav .dropdown-content a {
      display: block;
      color: #333;
      text-align: left;
      padding: 12px 16px;
      text-decoration: none;
    }
    
    nav .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    nav .cart-icon {
      margin-left: 10px;
      margin-top: 3px;
      display: inline-block;
    }
    
    nav .cart-icon img {
      width: 20px;
      height: 20px;
    }
    
    nav .active {
      background-color: #0077FF;
      color: #fff;
    }
    
    nav .browse-courses-btn, nav .signup-btn {
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background-color: #0077FF;
      color: #fff;
      margin-right: 10px;
    }
    
    nav .browse-courses-btn:hover, nav .signup-btn:hover {
      cursor: pointer;
      background-color: #0052CC;
      
    }
    
  
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 100%;
      position: fixed;
      bottom: 0;
    }
    
    .fo ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .fo li {
      margin: 0 10px;
    }
    
    .fo a {
      text-decoration: none;
      color: #000;
    }
    
     .fo p {
      margin-top: 10px;
    }
    
    *{
      margin: 0;
      padding: 0;
    }
    body{
      font-family: 'Raleway' ,sans-serif;
    }
  
    /* .d{
      height: 88vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    } */
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;
      margin-top: 30px;
     
      max-width: 851px;
    }
    .card-container > :nth-child(-n+3) {
      margin-bottom: 20px;
    }
    .card {
      width: 190px;
      height: 503px;
      padding: .8em;
      background: #f5f5f5;
      position: relative;
      top:50px;
      left: 30px;
      overflow: visible;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     }
     
     .card-img {
      background-color: #ffcaa6;
      height: 40%;
      width: 100%;
      border-radius: .5rem;
      transition: .3s ease;
     }
     
     .card-info {
      padding-top: 10%;
     }
     
     svg {
      width: 20px;
      height: 20px;
     }
     
     .card-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      border-top: 1px solid #ddd;
     }
     
     /*Text*/
     .text-title {
      font-weight: 900;
      font-size: 1.2em;
      line-height: 1.5;
      display: inline;
      margin-bottom: 5px;
     }
     
    
    .text-currency {
      font-weight: 900;
      font-size: 1.2em;
      line-height: 1.5;
      display: inline;
      margin-right: 72px;
    }
     
     .text-body {
      font-size: .9em;
      padding-bottom: 10px;
     }
     
     /*Button*/
     .card-button {
      border: 1px solid #252525;
      display: flex;
      padding: .3em;
      cursor: pointer;
      border-radius: 50px;
      transition: .3s ease-in-out;
     }
     
     /*Hover*/
     .card-img:hover {
      transform: translateY(-25%);
      box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
     }
     
     .card-button:hover {
      border: 1px solid #ffcaa6;
      background-color: #ffcaa6;
     }
     
     
     .item_count {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0px;
      right: -3px;
      background-color: red;
      color: white;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      font-size: 12px;
      z-index: 1;
    }
    
    .cartt {
      position: relative;
      display: inline-block;
      padding: 10px;
    }
    
    
      